/**
 * @file
 * Styles for Reviewer UI.
 */
:root {
  --reviewer-not-run: var(--color-gray-600, #828388);
  --reviewer-pass: var(--messages--status-color, #42a877);
  --reviewer-ignored: var(--messages--warning-color, #e0ac00);
  --reviewer-error: var(--messages--error-color, #e34f4f);
}

.fieldset[data-drupal-selector="edit-show"],
[data-drupal-selector="edit-show"] .form-checkboxes {
  display: flex;
  align-items: baseline;
  margin-block-start: 0;
}

[data-drupal-selector="edit-show"] .form-item {
  margin-inline-start: var(--space-xl);
}

.reviewer--not-run {
  --reviewer-status: var(--reviewer-not-run);
}

.reviewer--pass {
  --reviewer-status: var(--reviewer-pass);
}

.reviewer--ignored-error,
.reviewer--ignored-failure {
  --reviewer-status: var(--reviewer-ignored);
}

.reviewer--error,
.reviewer--fail {
  --reviewer-status: var(--reviewer-error);
}

.reviewer-result span,
.reviewer-summary > span:first-child {
  position: relative;
  margin-right: .5em;
  padding: .3125em .4375em;
  color: var(--reviewer-status);
  border: 1px solid;
  border-radius: .1875em;
}

.reviewer-result span::before,
.reviewer-summary > span:first-child::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  opacity: .1;
  background-color: var(--reviewer-status);
}

.reviewer-results-table {
  table-layout: fixed;
}

.reviewer-results-table th,
.reviewer-result td {
  width: 10.5em;
}

.reviewer-results-table th:first-child,
.reviewer-result td:first-child {
  width: 10.5em;
}

.reviewer-results-table th:nth-child(2),
.reviewer-result td:nth-child(2) {
  width: 55%;
  word-break: break-word;
}

.reviewer-results-table th:nth-child(3),
.reviewer-result td:nth-child(3) {
  width: 45%;
  word-break: break-word;
}

.reviewer-results-table th:last-child,
.reviewer-result td:last-child {
  width: 8.5em;
}

.reviewer-result .form-type--boolean input[type="checkbox"] {
  display: block;
  margin-inline: auto;
}
